.popular-authors {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
}

.popular-authors__main {
  font-size: 25px;
  font-weight: bold;
  margin: 15px 0 25px 0;
}

.p-a__content {
  display: flex;
}

.p-a__pic {
  height: 150px;
  width: 130px;
  border-radius: 10px;
  margin-right: 25px;
}

.p-a__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.p-a__title {
  font-weight: bold;
  font-size: 20px;
  width: 60%;
}

.p-a__body {
  color: var(--gray);
  width: 75%;
}
