@import "top-bar.css";
@import "search-books.css";
@import "book-of-the-day.css";
@import "top-adventures.css";
@import "popular-authors.css";

:root {
  --yellow: #ffce32;
  --gray: #e2e2e2;
}

body {
  height: 100vh;
}

.fa-solid:hover {
  cursor: pointer;
}
